{% extends "col/base_generic.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row p-2 justify-content-center">
        <div class="col-md-8 col-lg-8 col-xs-12 p-2 d-flex">
            <div class="card shadow-sm bg-body d-flex flex-column justify-content-between">
            <div class="card-body p-3">

                <!-- {% load static %} -->
                <div class="col-4 py-4">
                        {% load static %}
                        <img src="{% static 'col/img/logo2-2.png' %}" alt="Livewind">
                </div>
                <p class="card-text m-3">
                    <a href="/" class="card-link">Back</a>
                </p>
                <p class="card-text m-3">
                  LiveWind is a tool which shows the current pedestrian-level wind speeds around the City of London. It uses computational fluid dynamics (CFD) to simulate how the wind interacts with the buildings, and combines this with wind observations recorded at Heathrow airport to predict the wind patterns in real time. 
                </p>
                <p class="card-text m-3">
                  Understanding how the wind interacts with the urban envionment is an important first step towards the design of high-quality public space. This is particularly important in areas with prominent tall towers, which has lead to the City of London publishing <a href="https://news.cityoflondon.gov.uk/city-corporation-launches-uks-first-planning-wind-guidelines-to-keep-cyclists-and-pedestrians-comfortable-and-safe/" class="card-link">guidelines</a> on assessing and improving wind conditions around proposed developments in the Square Mile. 
                </p>
                <h4 class="card-text m-3">Technical details </h4>
                  <p class="card-text m-3">
                  When the page is loaded, the site queries the current wind observations at Heathrow Airport. This is used to select simulation data from a database, which is scaled to the current wind speeds. This data is rendered as velocity contours using VTK's Javascript library. 
                  <figure class="figure">

                  <img src="{% static 'col/img/CAD.jpg' %}" class="figure-img img-fluid rounded mx-auto d-block p-3" style="max-width: 70%" alt="CAD model.">
                  <figcaption class="figure-caption p-3 text-center">The 3D CAD model used in the simulations.</figcaption>
                </figure>
                </p>
                <p class="card-text m-3">
                  The simulation database was populated by performing a CFD simulation for every 10 degrees of wind angle. Each simulation used numerical methods to solve the governing eqations of fluid mechanics around a subset of the atmosphere which covered the City of London. This volume was split into smaller volumes or 'cells' which reduced to approximately 0.2m around the buildings, producing a total number of approximately 100 million cells.
                <figure class="figure">
                  <img src="{% static 'col/img/mesh.png' %}" class="figure-img img-fluid rounded mx-auto d-block p-3" style="max-width: 70%" alt="Computational mesh.">
                  <figcaption class="figure-caption p-3 text-center">The computational mesh used in the simulations.</figcaption>
                </figure>
              </p>
                <p class="card-text m-3">
                  Simulations were performed using an OpenFOAM®-based solver which ran on WSP's in house cluster. The incoming wind velocity and turbulence profiles were based on the Deaves and Harris model, which was dependent on the equivalent aerodynamic roughness lengths of the upstream urban environment. Turbulence was treated statistically using the realizable k-epsilon model. 
                  <figure class="figure">
                  <img src="{% static 'col/img/roughness.png' %}" class="figure-img img-fluid mx-auto d-block rounded p-3" style="max-width: 50%" alt="Aerodynamic roughness of surrounding enviornment.">
                  <figcaption class="figure-caption p-3 text-center">Aerodynamic roughness of the surrounding urban environment.</figcaption>
                </figure> 
                </p>
                <p class="card-text m-3">
                  Wind speeds were extracted on a plane 1.5m above the ground and were mapped to a low-resolution (2m) mesh in order to reduce filesize. Streamlines of integrated velocity were extracted from the 3D fields. VTK.js was used to render the data in an OpenGL window. 
                </p>
                <h6 class="card-text m-3 text-muted">Disclaimer </h6>
                <p class="card-text m-3 text-muted">
                The application is meant for general interest only and is not intended to provide information for planning purposes. OPENFOAM®  is a registered trade mark of OpenCFD Limited, producer and distributor of the OpenFOAM software via www.openfoam.com.
            </p>
        </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}