{% extends "col/base_generic.html" %}

{% block content %}
<div class="d-flex justify-content-center" id="loading">
    <p>Loading...</p>
</div>

<div class="container-fluid">


    <div class="row p-2 justify-content-center">

        <div class="col-md-4 col-lg-3 col-xs-12 p-2 d-flex">
            <div class="card shadow-sm bg-body d-flex flex-column justify-content-between">
<!--       <img class="card-title px-5" src="../static/img/logo.png" alt="Livewind"> -->
                <div class="card-body p-3 text-muted">
                    <div class="col-4 py-4">
                        {% load static %}
                        <img src="{% static 'col/img/logo2-2.png' %}" alt="Livewind">
                    </div>
<!--         <h4 class="card-title">Live wind conditions in the City of London</h4> -->
                    <p class="card-text m-3 d-none d-sm-block">
                      Wind at Heathrow Airport is currently blowing from {{ wind_dir }} degrees at {{ wind_speed }} m/s. Large computer models can be used to simulate how this wind interacts with buildings. 
                    </p>

<!--           As the wind blows across London, its interaction with buildings will cause localised areas of higher and lower wind speeds. 
        </p> -->
<!--         <p class="card-text">
          By using large computer simulations, the local interaction of the wind around buildings can be resolved in high detail. -->
                    <p class="card-text m-3 d-none d-sm-block">
                      Explore the 3D viewer to see how the wind is flowing around the City of London right now.
                    </p>
                    <p class="card-text m-3 d-block d-sm-none">
                        Current wind conditions in the City of London (works better on desktop!)
                    </p>
                    <div class="card-body bg-light">
                        <div class="custom-control custom-switch custom-control-inline">
                          <input type="checkbox" checked class="custom-control-input" id="customSwitch1" name="contourcheck">
                          <label class="custom-control-label" for="customSwitch1">Contours</label>
                        </div>
                        <div class="custom-control custom-switch custom-control-inline">
                          <input type="checkbox" class="custom-control-input" id="customSwitch2" name="streamcheck">
                          <label class="custom-control-label" for="customSwitch2">Streamlines</label>
                        </div>
                    </div>

                    <div class="card-footer text-muted bg-background">
                        <a href="about/" class="card-link">About</a>
                        <a href="mailto:millarjosh@gmail.com" class="card-link align-self-end">Contact</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xs-12 p-2 d-flex">

            <div class="card w-100 shadow-sm bg-body">
                <!-- <div class="card-body"> -->

            <div class="container-fluid" id="renderview">
                <div class="renderer">
<div class="modal fade" id="controlModel" tabindex="-1" role="dialog" aria-labelledby="controlModalLabel" aria-hidden="true" d-none d-sm-block>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Controls</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><img src="{% static 'col/img/pan_controls.png' %}" alt="Livewind"></p>
        <p><img src="{% static 'col/img/roll_controls.png' %}" alt="Livewind"></p>
        <p><img src="{% static 'col/img/zoom_controls.png' %}" alt="Livewind"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

        {% load static %}
<!--     <div class="embed-responsive embed-responsive-16by9 shadow-sm bg-white" id="renderview"> -->
        <script type="text/javascript">
            const renderWindow = vtk.Rendering.Core.vtkRenderWindow.newInstance();
            const renderer = vtk.Rendering.Core.vtkRenderer.newInstance({background:[1,1,1]});
            const openGlRenderWindow = vtk.Rendering.OpenGL.vtkRenderWindow.newInstance();
            renderWindow.addView(openGlRenderWindow);
            renderWindow.addRenderer(renderer)
            document.getElementById("renderview").style.setProperty('opacity', 0);
            // const fullScreenRenderer = vtk.Rendering.Misc.vtkFullScreenRenderWindow.newInstance({background:[1,1,1]});
            // renderer.addController('<table><tr><td>Contours</td><td><input class="contours" type="checkbox" checked name="contourcheck"/></td></tr><tr><td>Streamlines</td><td><input class="streamlines" type="checkbox" name="streamcheck"/></td></tr></table>');

            //set controls
            const interactor = vtk.Rendering.Core.vtkRenderWindowInteractor.newInstance();
            interactor.setView(openGlRenderWindow);
            interactor.initialize();
            const interactorStyle = vtk.Interaction.Style.vtkInteractorStyleManipulator.newInstance();
            const roll = vtk.Interaction.Manipulators.vtkMouseCameraTrackballRotateManipulator.newInstance({ button: 1, shift: true });
            const pan = vtk.Interaction.Manipulators.vtkMouseCameraTrackballPanManipulator.newInstance({ button: 1, });
            const zoom = vtk.Interaction.Manipulators.vtkMouseCameraTrackballZoomManipulator.newInstance({ button: 3, control: true }  );
            const zoomscroll = vtk.Interaction.Manipulators.vtkMouseCameraTrackballZoomToMouseManipulator.newInstance( {scrollEnabled: true, dragEnabled: false } );
            const gesture = vtk.Interaction.Manipulators.vtkGestureCameraManipulator.newInstance();
            interactorStyle.removeAllMouseManipulators();
            interactorStyle.addMouseManipulator(roll);
            interactorStyle.addMouseManipulator(pan);
            interactorStyle.addMouseManipulator(zoom);
            interactorStyle.addMouseManipulator(zoomscroll);
            interactorStyle.addGestureManipulator(gesture);
            interactor.setInteractorStyle(interactorStyle);

            let url = "{{ this_dir_loc }}"
            // 'https://joshmillar.gitlab.io/vtks/static/col_vel_small.vtp';
            const vtpReader = vtk.IO.XML.vtkXMLPolyDataReader.newInstance();
            console.log(vtk.Rendering.Core.vtkColorTransferFunction.vtkColorMaps.rgbPresetNames);
            const lookupTable = vtk.Rendering.Core.vtkColorTransferFunction.newInstance();
            const vtkColorMaps = vtk.Rendering.Core.vtkColorTransferFunction.vtkColorMaps;
            const preset = vtkColorMaps.getPresetByName('jet');
            lookupTable.applyColorMap(preset);
            lookupTable.setDiscretize(true);
            lookupTable.setNumberOfValues(16);
            lookupTable.updateRange();


            var vtkMapper = vtk.Rendering.Core.vtkMapper.newInstance({
                    interpolateScalarsBeforeMapping: false,
                    useLookupTableScalarRange: false,
                    lookupTable,
                    scalarVisibility: true,
            });


            const arrayName = 'magU';

            vtkMapper.setScalarModeToUsePointFieldData();
            // vtkMapper.setScalarModeToDefault();
            vtkMapper.setColorModeToMapScalars();
            vtkMapper.setColorByArrayName(arrayName);
            vtkMapper.setScalarRange([0, 
                {{ this_speed_factor }} ])
            console.log({{ this_speed_factor }})

            // console.log(mapper.getBounds());
            // console.log(mapper.getColorByArrayName());
            // console.log(mapper.getFieldDataTupleId());
            // console.log(mapper);
            var vtkActor = vtk.Rendering.Core.vtkActor.newInstance();

            vtkMapper.setInputConnection(vtpReader.getOutputPort());
            vtkActor.setMapper(vtkMapper);

            vtpReader.setUrl(url).then(() => {
                renderer.addActor(vtkActor);
                renderer.getActiveCamera().setPosition(-50, 100, 5000)
                renderer.getActiveCamera().setViewAngle(15)
                renderer.resetCameraClippingRange();
                renderWindow.render();
                const rootContainer = document.getElementById('renderview');
                openGlRenderWindow.setContainer(rootContainer);
                const dims = rootContainer.getBoundingClientRect();
                openGlRenderWindow.setSize(dims.width, dims.height/1.5);
                interactor.bindEvents(rootContainer);
                renderWindow.render();
                document.getElementById("renderview").style.setProperty('opacity', 1);
                document.getElementById("loading").outerHTML = "";
            });

            var contourcheckbox = document.querySelector("input[name=contourcheck]")

            contourcheckbox.addEventListener('change', function() {
                if(this.checked){
                    vtpReader.setUrl(url).then(() => {
                    renderer.addActor(vtkActor);
                    // renderer.getActiveCamera().setParallelScale(980);
                    renderWindow.render();
                    // document.body.css.setProperty('opacity', 0)
                    // document.querySelector('.loading').classList.remove('loading');
                    });
                } else {
                    renderer.removeActor(vtkActor);
                    renderWindow.render();
                }
            });

            // // stls
            let stlurl = "{% static 'col/data/BDGS.stl' %}";
            // https://joshmillar.gitlab.io/vtks/static/BDGS.stl';
            var stlMapper = vtk.Rendering.Core.vtkMapper.newInstance({ 
                scalarVisibility: false,
            });
            var stlActor = vtk.Rendering.Core.vtkActor.newInstance();
            var stlReader = vtk.IO.Geometry.vtkSTLReader.newInstance();

            stlActor.setMapper(stlMapper);
            stlMapper.setInputConnection(stlReader.getOutputPort());
            stlActor.getProperty().setColor(1, 1, 1);
            // stlActor.getProperty().setEdgeVisibility(false);
            // stlActor.getProperty().setEdgeColor(0, 0, 0);

            stlReader.setUrl(stlurl).then(() => {
                renderer.addActor(stlActor);
                renderer.resetCamera();
                renderWindow.render();
            });

            // extract feature edges
            let edgeurl = "{% static 'col/data/edges.vtp' %}";

            var edgeMapper = vtk.Rendering.Core.vtkMapper.newInstance({
                scalarVisibility: false,
            });
            var edgeActor = vtk.Rendering.Core.vtkActor.newInstance();
            var edgeReader = vtk.IO.XML.vtkXMLPolyDataReader.newInstance();

            edgeActor.setMapper(edgeMapper);
            edgeMapper.setInputConnection(edgeReader.getOutputPort());
            edgeActor.getProperty().setColor(0, 0, 0);

            edgeReader.setUrl(edgeurl).then(() => {
                renderer.addActor(edgeActor);
                renderer.resetCamera();
                renderWindow.render();
            })

            var streamcheckbox = document.querySelector("input[name=streamcheck]")

            let streamurl = "{{ this_dir_stream }}";

            var streamMapper = vtk.Rendering.Core.vtkMapper.newInstance({
                scalarVisibility: true,
            });
            streamMapper.setScalarModeToDefault();
            streamMapper.setColorModeToMapScalars();
            streamMapper.setScalarRange([0, 12])
            var streamActor = vtk.Rendering.Core.vtkActor.newInstance();
            var streamReader = vtk.IO.XML.vtkXMLPolyDataReader.newInstance();

            streamActor.setMapper(streamMapper);
            streamMapper.setInputConnection(streamReader.getOutputPort());

            streamcheckbox.addEventListener('change', function() {
                if(this.checked){
                    streamReader.setUrl(streamurl).then(() => {
                        renderer.addActor(streamActor);
                        renderWindow.render();
                    });
                } else {
                    renderer.removeActor(streamActor);
                    renderWindow.render();
                }
            });
      </script>
  </div>
</div>
</div>
    <!-- <iframe id="CoL_streams"
        title="CoL livewind"
        width="100%"
        height="100%"
        src="https://joshmillar.gitlab.io/vtks/simple_viewer.html">
    </iframe> -->
    <!-- <img src="../static/img/Rolling-1s-28px.gif"/> -->
  <!-- </div> -->
  </div>
  </div>
{% endblock %}
</div>
